<nz-layout class="layout">
  <nz-content>
      <nz-header style="height: 46px;">
          <ul nz-menu nzMode="horizontal" nzTheme="dark">
              <li nz-menu-item routerLink="/" routerLinkActive="ant-menu-item-selected"
                  routerLinkActiveOptions="{ exact: boolean}">Home</li>
          </ul>
      </nz-header>
      <div [@routeAnimations]="prepareRoute(outlet)" style="background:#fff; padding: 24px; min-height: 380px;">
          <router-outlet #outlet="outlet"></router-outlet>
      </div>
  </nz-content>
  <nz-footer style="text-align: center;">©{{year}} Implemented By A-sin Cole</nz-footer>
</nz-layout>
<nz-back-top></nz-back-top>