<h2>Payments</h2>

<div class="wrapper" *ngIf="payments.length >= 1">
  <div class="payment" *ngFor="let payment of payments; let i=index">

    <div class="merchant">
      <strong>Merchant:</strong> {{payment.merchant}}
    </div>
    <div class="name">
      <strong>Full Name:</strong> {{payment.user.first}} {{payment.user.last}}
    </div>
    <div class="date">
      <strong>Date:</strong> {{payment.date | date}}
    </div>

    <div class="more">
      <a nz-button nzBlock="true" nzType="primary" (click)="selectPayment(payment)">View More</a>
    </div>

  </div>
</div>
<div *ngIf="payments.length < 1">
  <div nz-row nzType="flex" nzGutter="0" nzAlign="middle" nzJustify="space-around">
    <div nz-col nzSpan="12" style=" text-align: center">
      <h1>No Payments found at the moment</h1>
    </div>
  </div>
</div>
<br>